# Домашнее задание 1.

Все задания ниже имеют равный вес.

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
from zipfile import ZipFile

In [3]:
zip_file = ZipFile('Data.zip')

In [4]:
#zip_file.namelist()

In [5]:
#test_df = pd.read_csv(zip_file.open(zip_file.namelist()[1]))
#test_df

In [6]:
#Собираем данные с информацией о студентах
df_info = pd.concat([pd.read_csv(zip_file.open(fn)) for fn in zip_file.namelist() if 'info' in fn], axis=0)

In [7]:
df_info.head(5)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,0,female,group B,bachelor's degree,standard,none,group1
1,1,female,group C,some college,standard,completed,group1
2,2,female,group B,master's degree,standard,none,group1
3,3,male,group A,associate's degree,free/reduced,none,group1
4,4,male,group C,some college,standard,none,group1

In [8]:
#Собираем данные с информацией об ойенках
df_marks = pd.concat([pd.read_csv(zip_file.open(fn)) for fn in zip_file.namelist() if 'marks' in fn], axis=0)

In [9]:
df_marks.head(5)

   index  math score  reading score  writing score
0      0          72             72             74
1      1          69             90             88
2      2          90             95             93
3      3          47             57             44
4      4          76             78             75

In [10]:
#Джойним данные с информацией и с оценками
df_full = df_info.merge(df_marks)

In [11]:
df_full.sample(5)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
410,410,female,group D,master's degree,standard,completed,group5,70,71,74
614,614,female,group A,associate's degree,standard,none,group7,82,93,93
639,639,female,group D,associate's degree,standard,none,group7,76,74,73
633,633,female,group C,high school,standard,none,group7,75,88,85
403,403,female,group D,high school,standard,completed,group5,88,99,100

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [12]:
#Удаляем поле index
df_full.drop(columns='index', inplace=True)

In [13]:
df_full.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [14]:
df_full.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [15]:
df_full.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [16]:
df_full.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [17]:
df_full[df_full.isna().any(axis=1)]

Empty DataFrame
Columns: [gender, race/ethnicity, parental level of education, lunch, test preparation course, group, math score, reading score, writing score]
Index: []

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [18]:
df_full.sample()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
560,female,group D,some college,standard,completed,group6,74,75,79

In [19]:
df_full[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [20]:
df_full.groupby('test preparation course').mean() #[['math score', 'reading score', 'writing score']]

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [21]:
df_full['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [22]:
df_full.rename(mapper={"parental level of education":"education", "test preparation course":"test preparation"}\
              , axis='columns', inplace=True)

In [23]:
df_full.columns

Index(['gender', 'race/ethnicity', 'education', 'lunch', 'test preparation',
       'group', 'math score', 'reading score', 'writing score'],
      dtype='object')

**Зафиксируем минимальный балл для сдачи экзамена**

In [24]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * 1.Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * 2.Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * 3.Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

#### 1.

In [25]:
df_full.loc[df_full['math score']>=passmark, 'math score'].count()\
            /df_full.loc[:, 'math score'].count()

0.865

In [26]:
(df_full['math score']>=passmark).sum()/df_full.shape[0]

0.865

In [27]:
rate_1 = (df_full['math score']>=passmark).sum()/df_full.shape[0]

In [28]:
print(f'1. aswer = {rate_1}')

1. aswer = 0.865

#### 2.

In [29]:
df_full.loc[(df_full['math score']>=passmark) & (df_full['test preparation']=='completed'), 'math score'].count()\
            /df_full.loc[df_full['test preparation']=='completed', 'math score'].count()

0.9217877094972067

In [30]:
(df_full[df_full['test preparation']=='completed']['math score']>=passmark).sum()\
            /(df_full['test preparation']=='completed').sum()

0.9217877094972067

In [31]:
rate_2 = (df_full[df_full['test preparation']=='completed']['math score']>=passmark).sum()\
            /(df_full['test preparation']=='completed').sum()

In [32]:
print(f'2. aswer = {round(rate_2, 3)}')

2. aswer = 0.922

#### 3.

In [33]:
passed_cnt = df_full.loc[(df_full['math score']<passmark)\
                        & (df_full['test preparation']!='completed')\
                        & (df_full['gender']=='female'), 'math score'].count()

total_group_cnt = df_full.loc[(df_full['test preparation']!='completed')\
                              & (df_full['gender']=='female'), 'math score'].count()

In [34]:
passed_fem_wout_cour_rate = passed_cnt/total_group_cnt
passed_fem_wout_cour_rate

0.20958083832335328

In [35]:
print(f'3. aswer = {round(passed_fem_wout_cour_rate, 3)}')

3. aswer = 0.21

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [36]:
df_full.head(1)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74

In [37]:
#Среднее по этнической принадлежности
df_full.groupby('race/ethnicity')['reading score'].mean()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [38]:
#Среднее время выполнения
%timeit df_full.groupby('race/ethnicity')['reading score'].mean()

755 µs ± 14 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [39]:
#Среднее по уровню образования
df_full.groupby('education')['writing score'].min()

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

In [40]:
#Среднее время выполнения
%timeit df_full.groupby('education')['writing score'].min()

810 µs ± 45.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [41]:
def read_score_group_mean(df, grouped):
    '''
    Функция расчета среднего reading score
    по группам парметра grouped
    '''
    result_dict = {}
    for i in df[grouped].unique():
        group_mean = df[df[grouped]==i]['reading score'].mean()
        result_dict[i] = group_mean
    return result_dict

In [42]:
#Среднее время выполнения
%timeit read_score_group_mean(df_full, 'race/ethnicity')

3.98 ms ± 146 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [43]:
def write_score_group_min(df, grouped):
    '''
    Функция расчета минимального writing score
    по группам парметра grouped
    '''
    result_dict = {}
    for i in df[grouped].unique():
        group_mean = df[df[grouped]==i]['writing score'].min()
        result_dict[i] = group_mean
    return result_dict

In [44]:
#Среднее время выполнения
%timeit write_score_group_min(df_full, 'education')

4.73 ms ± 163 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [45]:
pd.pivot_table(df_full, columns=['gender', 'education'], aggfunc='mean')

gender                    female                                \
education     associate's degree bachelor's degree high school
math score              65.25000         68.349206   59.351064
reading score           74.12069         77.285714   68.202128
writing score           74.00000         78.380952   66.691489

gender                                                       \
education     master's degree some college some high school
math score          66.500000    65.406780        59.296703
reading score       76.805556    73.550847        69.109890
writing score       77.638889    74.050847        68.285714

gender                      male                                \
education     associate's degree bachelor's degree high school
math score             70.764151         70.581818   64.705882
reading score          67.433962         68.090909   61.480392
writing score          65.405660         67.654545   58.539216

gender
education     master's degree some college some high school
math score          74.826087    69.009259        67.840909
reading score       73.130435    64.990741        64.693182
writing score       72.608696    63.148148        61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [46]:
#Создаем новое поле с дефолтным значением 'F'
df_full['Math_PassStatus'] = 'F'

In [47]:
#Меняем значение на 'P' при выполнении условия сдачи экзамена
df_full.loc[df_full['math score']>=passmark, 'Math_PassStatus'] = 'P'

In [48]:
#Кол-во не сдавших математику
df_full.loc[df_full['Math_PassStatus']=='F'].shape[0]

135

In [49]:
#Кол-во сдавших математику
df_full.loc[df_full['Math_PassStatus']=='P'].shape[0]

865

In [50]:
#Проставляем статусы по чтению
df_full['Read_PassStatus'] = 'F'
df_full.loc[df_full['reading score']>=passmark, 'Read_PassStatus'] = 'P'

In [51]:
#Кол-во не сдавших чтение
df_full.loc[df_full['Read_PassStatus']=='F'].shape[0]

90

In [52]:
#Кол-во сдавших чтение
df_full.loc[df_full['Read_PassStatus']=='P'].shape[0]

910

In [53]:
#Проставляем статусы по письму
df_full['Write_PassStatus'] = 'F'
df_full.loc[df_full['writing score']>=passmark, 'Write_PassStatus'] = 'P'

In [54]:
#Кол-во не сдавших письмо
df_full.loc[df_full['Write_PassStatus']=='F'].shape[0]

114

In [55]:
#Кол-во сдавших письмо
df_full.loc[df_full['Write_PassStatus']=='P'].shape[0]

886

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [56]:
#Создаем новое поле с дефолтным значением 'F'
df_full['OverAll_PassStatus'] = 'F'

In [57]:
#Меняем значение на 'P' при выполнении условия сдачи экзамена
df_full.loc[(df_full['Math_PassStatus']=='P') &\
            (df_full['Read_PassStatus']=='P') &\
            (df_full['Write_PassStatus']=='P'), 'OverAll_PassStatus'] = 'P'

In [58]:
#Кол-во студентов сдавших все экзамены
df_full[df_full['OverAll_PassStatus']=='P'].shape[0]

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####      [90;100] = A
####      [80;90) = B
####      [70;80) = C
####      [60;70) = D
####      [50;60) = E
####      [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [59]:
#Создаем новое поле Grade (пустое)
df_full['Grade'] = ''

In [60]:
def GetGrade(average_mark):
    if 90<=average_mark<=100:
        return 'A'
    elif 80<=average_mark<90:
        return 'B'
    elif 70<=average_mark<80:
        return 'C'
    elif 60<=average_mark<70:
        return 'D'
    elif 50<=average_mark<60:
        return 'E'
    else:
        return 'F(Fail)'

In [61]:
df_full['Grade'] = df_full[['math score', 'reading score', 'writing score']].mean(axis=1).apply(GetGrade)

In [62]:
df_full['Grade'].value_counts()

C          261
D          256
E          182
B          146
F(Fail)    103
A           52
Name: Grade, dtype: int64